{# Pagination helper for Jinja #}

{% macro render_pagination(pagination) %}
    <div class="pagination pagination-mini">
        <ul>
            {% if pagination.has_prev() %}
                <li><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo;</a></li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                    {% elif pagination.per_page <= pagination.total_count %}
                        <li class="active"><span>{{ page }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><span>…</span></li>
                {% endif %}
            {%- endfor %}
            {% if pagination.has_next() %}
                <li><a href="{{ url_for_other_page(pagination.page + 1) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}