{# Index page #}

{% extends "layout.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="span4 center">
        До начала ближайшего соревнования осталось
        <h2>01:02:04</h2>
    </div>
    <div class="span8">
        <p>
            Добро пожаловать на <b>{{ config['TITLE'] }},</b> онлайн-систему для подготовки к олимпиадам по программированию.
        </p>
        <p>
            На сайте содержится <a href="{{ url_for('problemset') }}">архив</a> олимпиадных задач с автоматической проверяющей системой.
            Для работы в системе достаточно <a href="{{ url_for('register') }}">зарегистрироваться</a>, после чего вы сможете отправлять решения на проверку.
        </p>

        <p>
            Также на сайте проводятся командные и личные <a href="/contest">соревнования</a>.
        </p>
        <p>
            <a href="{{ url_for('about') }}">Помощь по работе с системой</a> можно получить в соответствующем разделе сайта.
        </p>
    </div>
{% endblock %}