{% extends "layout.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="span4 pagination-centered">
        До начала соревнования осталось
        <h2>{{ counter }}</h2>
    </div>
    <div class="span8">
        <p>
            Тут будет какой-то мотивирующий текст про то, как замечательно быть олимпиадником. Ну, и напоминание про
            регистрацию до начала соревнования.
        </p>
        <h4>Правила соревнований: </h4>

        <p>
            ...обязательно в скором времени будут придуманы и написаны. Или нагло скопированы из памятки.
        </p>

        <p>
            Ну, и пожелание удачи всем участникам, естесственно.
        </p>
    </div>
{% endblock %}