{# Basic layout #}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/plusstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>

    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

{# Navigation bar #}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Centipede</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li {% if active_problems is defined %} class="active" {% endif %}>
                        <a href="{{ url_for('problems') }}">Задачи</a>
                    </li>
                    {% if session.team_id is defined %}
                    <li  {% if active_status is defined %} class="active" {% endif %}>
                        <a href="{{ url_for('status') }}">Состояние системы</a>
                    </li>
                    {% endif %}
                    <li  {% if active_rank is defined %} class="active" {% endif %}>
                        <a href="#contact">Результаты</a>
                    </li>
                    {% if session.team_id is defined %}
                    <li  {% if active_question is defined %} class="active" {% endif %}>
                        <a href="#">Вопрос жюри</a>
                    </li>
                    {% endif %}
                    <li class="dropdown" id="login-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Помощь
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#">Общая информация о системе</a></li>
                            <li><a tabindex="-1" href="#">Правила соревнований</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    {% if session.team_id is defined %}
                        <li class="dropdown" id="profile-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ session.team_id }}
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a tabindex="-1" href="#">Профиль</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="{{ url_for('logout') }}">Выход</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li  {% if active_registration is defined %} class="active" {% endif %}>
                            <a href="{{ url_for('register') }}">Регистрация</a>
                        </li>
                        <li class="dropdown" id="login-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Вход
                                <b class="caret"></b>
                            </a>

                            <div class="dropdown-menu">
                                <form style="margin: 0px" accept-charset="UTF-8" action="/login" method="post">
                                    <fieldset class='textbox' style="padding:10px">
                                        <input name="team_id" style="margin-top: 8px" type="text"
                                               placeholder="TEAM_ID"/>
                                        <input name="password" style="margin-top: 8px" type="password"
                                               placeholder="пароль"/>
                                        <input name="commit" type="submit" value="Вход"/>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {# Content legend #}
    <div class="row">
        {% block legend %}{% endblock %}
    </div>

    {# Flash messages #}
    <div class="row">
        {% block flashes %}
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}

                    {% for category, message in messages %}
                        <div class="alert {{ category }}">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}

                {% endif %}
            {% endwith %}
        {% endblock %}
    </div>

    {# Content by itself #}
    <div class="row">
        {% block content %}{% endblock %}
    </div>

</div>

<script src="/static/js/jquery-1.8.2.min.js"></script>
<script src="/static/js/plusstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    });
</script>
</body>
</html>
