{% extends "layout.html" %}

{% block title %}
    Вход
{% endblock %}

{% block content %}

    <legend>
        Вход в систему
    </legend>
    <form style="margin: 0px" accept-charset="UTF-8" action="/login" method="post">
        <fieldset class='textbox' style="padding:10px">
            <input name="team_id" style="margin-top: 8px" type="text" placeholder="TEAM_ID" />
            <input name="password" style="margin-top: 8px" type="password" placeholder="пароль" />
            <input name="commit" type="submit" value="Вход" />
        </fieldset>
    </form>
    {{ team_id }}<br>
    {{ password }}
{% endblock %}
