{# Problem view #}

{% extends "layout.html" %}

{% block title %}
    {{ problem.title }}
{% endblock %}

{% block content %}
    {# Tile, time/memory restrictions #}
    <div class="span12 center">
        <h3>{{ problem.title }}</h3>

        <p>
            Ограничение времени: {{ problem.time }} сек <br>
            Ограничение памяти: {{ problem.memory }} МБ
        </p>
    </div>

    {# Problem content #}
    <div class="span12">
        <p>
            {{ problem.content|safe }}
        </p>
    </div>

    {# Input/output #}
    <div class="span12">
        <h4>Исходные данные: </h4>

        <p>
            {{ problem.input|safe }}
        </p>
    </div>
    <div class="span12">
        <h4>Результат: </h4>

        <p>
            {{ problem.output|safe }}
        </p>
    </div>

    {# Examples #}
    <div class="span12">
        <h4>Пример: </h4>
        <table class="table table-bordered table-striped table-condensed table-examples">
            <thead>
            <tr>
                <th>INPUT.TXT</th>
                <th>OUTPUT.TXT</th>
            </tr>
            </thead>
            {% for example in problem.examples %}
                <tr>
                    <td>
                        <pre>{{ example.input }}</pre>
                    </td>
                    <td>
                        <pre>{{ example.output }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {# Hint #}
    {% if problem.hint is not none %}
        <div class="span12">
            <h4>Подсказка: </h4>

            <p>
                {{ problem.hint|safe }}
            </p>
        </div>
    {% endif %}

    {# Submit form #}
    <div class="span">
        {% if session.team_id is defined %}

            <h4>Отправить на проверку: </h4>

            <form action="/submit" method="post" enctype=multipart/form-data>
                <div class="well well-small">
                    <input type="file" name="file">
                    <button type="submit" class="btn">Отправить</button>
                    <input type="hidden" value="{{ problem.id }}" name="problem_id">
                </div>
            </form>

        {% else %}
            <h4>Для отправки решения необходимо <a href="/login">авторизоваться.</a></h4>
        {% endif %}
    </div>
{% endblock %}
