{% extends "layout.html" %}

{% block title %}
    Регистрация прошла успешно!
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <p>Ваш TEAM_ID: </p>
    <div class="well well-small span2 pagination-centered"><h3 class="text-error">{{ team_id }}</h3></div>
        <div class="clearfix"></div>
        <p>Для входа в систему используйте указанный выше TEAM_ID и введенный вами пароль.</p>
    </div>
    <div class="alert alert-error">
        Так как TEAM_ID является основным реквизитом доступа к системе, который можно воостановить только путем контакта с
        администрацией, настоятельно рекомендуется сохранить его в надежном месте!
    </div>
{% endblock %}
