{# Submitted solutions status #}

{% extends "layout.html" %}

{% block title %}
    Статус проверки
{% endblock %}

{% block content %}
    {% if not solutions%}
        Вы еще не отправили ни одного решения.
    {% else %}
        <table class="table table-bordered table-striped table-centered table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th class="date">Дата</th>
                <th class="problem">Задача</th>
                <th>Язык</th>
                <th>Результат</th>
                <th>№ теста</th>
                <th>Время</th>
                <th>Память</th>
            </tr>
            </thead>
            {% for solution in solutions %}
                <tr>
                    <td><a href="{{ url_for('solution', id  = solution.id) }}">{{ solution.id }}</a></td>
                    <td class="date">
                        {{ solution.submitted.strftime('%H:%M:%S') }}
                        <br>
                        {{ solution.submitted.strftime('%d/%m/%Y') }}
                    </td>
                    <td><a href="{{ url_for('problem', id = solution.problem.id) }}">{{ solution.problem.title }}</a>
                    </td>
                    <td>{{ solution.language.name }}</td>
                    <td>
                        {% if solution.status == solution.STATUS['tested']['accept'] %}
                            <span class="label label-success">
                        {% elif solution.status in solution.STATUS['tested']['error'].values() %}
                            <span class="label label-important">
                        {% else %}
                            <span class="label">
                        {% endif %}
                        {{ solution.status }}
                        </span>
                    </td>
                    <td>
                        {% if solution.test_number %}
                            {{ solution.test_number }}
                        {% endif %}
                    </td>
                    <td>
                        {% if solution.time is not none %}
                            {{ '%0.3f' % solution.time }}
                        {% endif %}
                    </td>
                    <td>
                        {% if solution.memory %}
                            {{ solution.memory }} КБ
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% from "_pagination.html" import render_pagination %}
        {{ render_pagination(pagination) }}

    {% endif %}
{% endblock %}
